body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(100deg, #575656, #062e3f);
}

.container {
  width: 50%;
  height: 100vh;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

#title {
  animation: animated-text 2s steps(11, end) 0.5s 1 normal both, animated-cursor 750ms steps(11, end) infinite;
}

#title {
  border-right: solid 3px rgba(0, 0, 0, 0.75);
  white-space: pre;
  overflow: hidden;
  letter-spacing: 0.20rem;
  margin-top: 50px;
  margin-bottom: 20px;
  max-width: 480px;
}

@keyframes animated-text {
  from {
    width: 0%;
  }

  to {
    width: 400px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 0, 0, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}

@keyframes darker-animated-cursor {
  from {
    border-right-color: #01394c;
  }

  to {
    border-right-color: transparent;
  }
}